pkgbase = nostalgia-bin
	pkgdesc = Minecraft launcher: accounts, Fabric/Forge/Quilt/NeoForge instances, mod library, LAN relay
	pkgver = 1.0.15
	pkgrel = 1
	url = https://github.com/JunXmas/NostalgiaLauncher
	arch = x86_64
	license = GPL-3.0-only
	depends = dbus
	depends = fontconfig
	depends = glib2
	depends = libglvnd
	depends = libxcb
	depends = libxkbcommon
	depends = xcb-util-cursor
	depends = xcb-util-image
	depends = xcb-util-keysyms
	depends = xcb-util-renderutil
	depends = xcb-util-wm
	provides = nostalgia
	conflicts = nostalgia
	options = !strip
	source = nostalgia-1.0.15-linux-x64.tar.gz::https://github.com/JunXmas/NostalgiaLauncher/releases/download/v1.0.15/nostalgia-1.0.15-linux-x64.tar.gz
	source = nostalgia.desktop::https://raw.githubusercontent.com/JunXmas/NostalgiaLauncher/v1.0.15/packaging/linux/nostalgia.desktop
	source = nostalgia.png::https://raw.githubusercontent.com/JunXmas/NostalgiaLauncher/v1.0.15/packaging/icons/nostalgia-256.png
	source = LICENSE::https://raw.githubusercontent.com/JunXmas/NostalgiaLauncher/v1.0.15/LICENSE
	sha256sums = 6c28351aebe4b93cc8972b18fc8af7e992c6cd38f0b8631f6dc65e10d7fd9e66
	sha256sums = 8748ac95928cff11bf44d25d942bb95ecf1dde357be0de0f8848d51f5e2780ed
	sha256sums = 6c2ee4d1a91a572c9b197eaf8e9ef1f8e52c952d7e0d19c9db5298e101b73f99
	sha256sums = e57f1c320b8cf8798a7d2ff83a6f9e06a33a03585f6e065fea97f1d86db84052

pkgname = nostalgia-bin
